<form action='/submit' method='post'>
  <input type='text' name='spoonerism' placeholder='Enter your text:'>
  <select name='number'>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
  </select>
  <button>Submit</button>
</form>