header, footer { 
  font-family: 'Orbitron', sans-serif;
  background: #0099FF;
  margin: 0 auto;
  float: left;
  padding: 0;
  min-width: 100%;
}

header h1 {
  padding-top: 40px;
  padding-left: 10px;
  color: #FFF;
}

html, body {
  margin: 0;
  padding: 0;
  background: #F0F0F0;
  font-family: 'Noto Sans', sans-serif;
}

section {
  margin-left: auto;
  margin-right: auto;
  padding: 20px, 20px, 0, 20px;
  width: 60%;
  background: #FFF;
  padding-bottom:20%;
  height: 100%;
}

form {
  margin-bottom: 20%;
}

form input {
  margin-top: 20%;
  margin-left: 20%;
}

button {
  font-family: 'Noto Sans', sans-serif;
}

section p {
  margin-bottom: 50px;
}

footer a {
  color: #FF9966;
  text-decoration: none;
  padding-left:10px;
  padding-top: 20px;
}

footer {
  position: absolute;
  bottom:0;
  height: 60px;
}