html {
  position: relative;
}

header, footer { 
  font-family: 'Orbitron', sans-serif;
  background: #0099FF;
  margin: 0 auto;
  float: left;
  padding: 0;
  min-width: 100%;
}

header {
  position: absolute;
  top: 0;
}

header h1 {
  padding-top: 40px;
  padding-left: 10px;
  color: #FFF;
}

html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: #F0F0F0;
  font-family: 'Noto Sans', sans-serif;
}

section {
  margin-left: auto;
  margin-right: auto;
  padding: 20px, 20px, 0, 0;
  width: 60%;
  background: #FFF;
  padding-bottom:7%;
  min-height: 100%;
  margin-top: 110px;
}

section p {
  padding-top: 50px;
}

form input {
  width: 60%;
  height: 40px;
  font-size: 35px;
  margin-top: 40px;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 20px;
  text-align: center;
}

form input:focus {
  border: #0099FF;
  height: 44px;
}

form select, form button {
  height:30px;
  margin-top: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

form select{
  margin-left: 50%;
  width: 6%;
  border:1px solid #ccc;
  vertical-align:top;
}

form button {
  margin-left: 20px;
  width: 21%;
  border-radius: 10px;
}

button {
  font-family: 'Noto Sans', sans-serif;
  background: #F0F0F0;
}

section p {
  width: 62%;
  text-align: center;
  font-size: 30px;
  margin: 0 auto 20px auto;
}

#spoonerism p {
  margin-top: 10px;
}

footer a {
  color: #FF9966;
  text-decoration: none;
  padding-left:10px;
}

footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  padding-top: 40px;
}